@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Black+Ops+One&family=Bruno+Ace+SC&family=Metrophobic&family=Nerko+One&family=Permanent+Marker&family=Protest+Revolution&family=Russo+One&family=Staatliches&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Creepster&family=Faster+One&family=Monoton&family=Press+Start+2P&family=Rubik+Glitch&family=Rubik+Vinyl&family=Silkscreen&family=VT323&family=Nabla&family=Tilt+Prism&family=Pixelify+Sans&family=Bungee+Spice&family=Butcherman&family=Nosifer&family=Rubik+Burned&family=Rubik+Maps&family=Stick&family=Tourney:wght@900&family=Zen+Tokyo+Zoo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .canvas-background {
    z-index: 0;
    background-color: "black";
    background-image: radial-gradient(rgba(135, 3, 175, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
